.btn-green,
.btn-green:active,
.btn-green:focus {
  background-color: #a6ce39;
  color: #fff;
  border-radius: 20px;
}

.btn-green:hover,
.btn-blue:hover,
.btn-orange:hover {
  color: #fff;
}

.btn-white {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  color: #000;
  white-space: normal;
  padding: 10px 12px;
}

.btn-white.active {
  background: #3478e9;
  color: #fff;
}

.btn-orange,
.btn-orange:active,
.btn-orange:focus {
  color: #fff;
  background: linear-gradient(to bottom right, #FD5972, #FF934F);
  border-radius: 20px;
}

.btn-blue,
.btn-blue:active,
.btn-blue:focus {
  color: #fff;
  background: linear-gradient(to bottom right, #2730E3, #4658FA);
  border-radius: 20px;
}