.cards-container {
    margin-bottom: 20px;
}
.cards-container .card-detail {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards-container .card-detail .header-card {
    background: #2F75EC;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards-container .card-detail .header-card h2 {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 20px;
}
.cards-container .card-detail .card-container {
    background: #FFFFFF;
    color: #414042;
    padding: 20px 40px;
}
.cards-container .card-detail .card-container:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cards-container .card-detail .header-card .detail-date {
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 10px;
}
.cards-container .card-detail .header-card .detail-date .date {
    display: block
}
.cards-container .card-detail .header-card .detail-date .time {
    display: block
}
.cards-container .card-detail .card-container .title-inline {
    display: inline;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}
.cards-container .card-detail .card-container .description-inline {
    display: inline;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
}
.cards-container .card-detail .card-container .content {
    font-size: 14px;
    line-height: 24px;
}
.cards-container .card-detail .card-container .columns .left {
    width: 50%;
    float: left;
}
.cards-container .card-detail .card-container .columns .title {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}
.cards-container .card-detail .card-container .columns .right {
    width: 50%;
    float: left;
}
.cards-container .card-detail .card-container .title-content .title {
    display: block;
    font-weight: 500;
}
.cards-container .card-detail .card-container .title-content p {
    display: block;
    font-weight: normal;
}
.cards-container .card-detail .card-container .footer-label  small{
    font-size: 12px;
    font-weight: 300;
}
.cards-container .action-links:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cards-container .action-links:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 0;
}
.cards-container .action-links {
    background: #fff;
    padding: 35px;
    background: #fff;
    border-radius: 0;
    padding: 35px;
    margin-bottom: 3px;
}
.cards-container .action-links .btn-container {
    display: block;
    text-align: center;
    margin-top: 10%;
}
.cards-container .action-links .btn-container .btn-green:hover {
    font-weight: bold;
}
.cards-container .action-links .btn-container .btn-green {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 10px 20px;
    white-space: normal;
    background-color: #a6ce39;
    color: #fff;
    border-radius: 20px;
}

@media only screen and (max-width: 770px) {
    .cards-container {
        width: 95%;
        margin: auto;
    }
    .cards-container .action-links:last-child {
        margin-bottom: 10px;
    }
}