.conocete .banner-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}
.conocete .banner-container > h1 {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 30px;
}
.conocete .banner-container, .conocete .banner-container img {
    width: 100%
}
.conocete .conocete-right-container .accede-box .accede-links, .herramientas-container {
    background: #fff;
    padding: 35px;
    background: #fff;
    border-radius: 0;
    padding: 35px;
    margin-bottom: 3px;
}
.conocete .conocete-right-container .accede-box {
    margin-top: 25px;
}
.conocete .conocete-right-container .herramientas-container {
    margin-top: 20px;
    padding: 20px 35px 35px 35px;
    border-radius: 20px;
}
.conocete .conocete-right-container .herramientas-container .icon-tool{
    text-align: center
}
.conocete .conocete-right-container .herramientas-container h3{
    text-align: center;
}
.conocete .conocete-right-container .accede-box .accede-links:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 0;
}
.conocete .conocete-right-container .accede-box .accede-links:first-child{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.conocete .conocete-right-container .accede-box .accede-links .btn-container {
    display: block;
    text-align: center;
    height: 75px;
    padding-top: 10px;
}
.conocete .conocete-right-container .accede-box .accede-links .btn-container .btn-default{
    white-space: normal;
    max-width: 245px;
}
.conocete .conocete-right-container .accede-box .accede-links .btn-container .btn-green {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 10px 20px;
    white-space: normal;
}
.conocete .conocete-right-container .accede-box .accede-links .logo-title .img-responsive {
    height: 70px;
    width: auto;
    display: inline-block;
}
.conocete .conocete-right-container .accede-box .accede-links .logo-title {
    color: #414042;
    font-size: 24px;
    line-height: 36px;
    font-family: Helvetica;
    display: inline-block;
    margin-left: 20px;
}
.conocete .conocete-right-container .accede-box .accede-links .logo-title h2 {
    color: #414042;
    font-size: 24px;
    line-height: 36px;
    font-family: Helvetica;
    display: inline-block;
    margin-left: 20px;
}

@media only screen and (max-width: 770px) {
    .conocete .banner-container {
        margin-top: 20px;
    }
    .conocete .conocete-right-container .accede-box .accede-links .btn-container .btn-green {
        width: inherit;
        display: block;
    }
    .conocete .conocete-right-container .accede-box .accede-links .logo-title .img-responsive {
        margin: auto;
        display: block;
    }
}