.form-neo .form-group > label {
  text-transform: uppercase;
  font-size: 12px;
}

.form-neo .form-control {
  box-shadow: none;

  background-color: #f6f6f6;

  height: 40px;
}

.form-neo .form-control:focus {
  border-color: #71a0f1;
  box-shadow: none;

  background-color: #fff;
}

.form-neo .btn-facebook,
.form-neo .btn-google {
  display: block;

  margin-bottom: 15px;

  color: #fff;

  width: 100%;
  height: 55px;

  font-size: 16px;

  border-color: transparent;
  border-radius: 10px;
}

.form-neo .profile {
  margin-bottom: 30px;
}

.form-neo .profile .btn-profile {
  width: 100%;
  background-color: #11BF5A;
  color: #fff;
  border-radius: 20px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  font-size: 13px;
}

.form-neo .btn-facebook {
  background-color: #3d5a96;
}

.form-neo .btn-google {
  background-color: #da483f;
}

.form-neo button[type="submit"] {
  background-color: #2731E3;
  color: #fff;
  border-color: #2731E3;
  border-radius: 20px;
}

.form-neo .btn-full-width {
  width: 100%;

  margin-top: 20px;
}

.form-neo .form-submit {
  margin: 20px 0;

  text-align: center;
}

.form-neo .form-submit button[type="submit"] {
  font-size: 18px;
  width: 50%;
  height: 55px;
  border-radius: 40px;
}

.form-neo textarea.form-control {
  height: 100px;
  resize: none;
}

@media only screen and (max-width : 480px) {
  .form-neo .profile {
    margin-bottom: 0;
  }

  .form-neo .profile .btn-profile {
    margin-bottom: 20px;
  }

  .form-neo .form-submit button[type="submit"] {
    width: 100%;
  }
}