.navbar.navbar-default {
    margin-bottom: 0;
}
.navbar.navbar-default .container {
    position: relative;
}
.navbar.navbar-default .container .list-social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-brand > img {
    width: 130px;
}
.navbar-right-custom {
    position: absolute;
    right: 0;
    font-size: 18px;
    top: 18px;
}
.navbar-right-custom span {
    color: #777;
}
.navbar-right-custom > a {
    display: inline-block;
    background: linear-gradient(to bottom right, #2730E3, #4658FA);
    color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
}
.navbar-right-custom > a:hover,
.navbar-right-custom > a:focus,
.navbar-right-custom > a:active,
.navbar-right-custom > a:visited {
    text-decoration: none;
}
.custom-height-navbar {
    min-height: 91px;
    background: #ffffff;
}
.custom-height-navbar .nav {
    float: right;
    margin-top: 12px;
    display: none;
}
.navbar {
    background: #ffffff;
    border: none;
}
.hero {	
    height: 640px;	
    width: 100%;
}
.box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;

    position: relative;
}
.box .content {
    position: absolute;
    width: 50%;
    height: 100%;
    opacity: 0.8;
    color: #fff;
    padding: 40px 30px;
    transition: width .3s ease-in-out;

    cursor: default;
}
.box .content h3 {
    display: inline-block;
}
.box .content a,
.box .content a:hover
.box .content a:visited,
.box .content a:active,
.box .content a:focus {
    color: #fff;
    text-decoration: none;
}
.box .content.content-blue {
    background-color: #238AB0;
}
.box .content.content-green {
    background-color: #A5CD3F;
}
.box .content.content-orange {
    background-color: #FA7A42;
}
.box .content .description {
    max-width: 120px;
}
.box:hover .content {
    width: 100%;
    transition: width .3s ease-in-out;
}

.video-container {
    background-image: url('../img/video_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 508px;
    width: 100%;
}
.footer-image {
    background-image: url(/img/background_footer.jpg);
    background-position: center;
    height: 549px;
    position: relative;
    background-repeat: no-repeat;
}
.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.footer-title {
    color: #A6CE39;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0;
}
.footer-image .list-unstyled {
    margin-top: 15px;
}
.footer-image .list-unstyled li {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}
.footer-main {
    margin-bottom: 25px;
}
.footer-main .logo-container {
    display: block;
}
.footer-main .logo-container p {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0;
}
.footer-main .list-unstyled li > a {
    color: #fff;
}
.footer-aux .container {
    border-top: 1px solid #ACACAC;
    padding: 30px 0;
}
.footer-aux .copyright {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}
.footer-aux .list-inline {
    text-align: right;
}
.footer-aux .list-inline li > a {
    color: #A6CE39;
    font-size: 18px;
}
.footer-logos .row {
    margin-bottom: 30px;
}

.footer-logos .logo {
    position: relative;
    height: 85px;
}

.footer-logos .logo > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.neo-logo-blanco {
    width: 170px;
    height: auto;
}
.blue-circle-container {
    background: #ffffff;
    color: #202124;
    padding: 50px 0;
}
.circle-box {
    display: block;
    padding: 40px 20px;
}
.circle-box img{
    height: 92px;
    width: auto;
    display: block;
    margin: auto;
}
.center-white-title {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-family: Montserrat;	
    font-size: 30px;	
    line-height: 30px;
    margin-top: 30px;
}
.center-black-title {
    color: #000;
    font-weight: 500;
    text-align: center;
    font-family: Montserrat;	
    font-size: 30px;	
    line-height: 30px;
    margin-top: 30px;
}
.video-container-box {
    max-width: 600px;
    display: block;
    margin: auto;
    padding-top: 30px;
}
.carousel { 
    background: #f4b82c 
}
.box-info-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F7F7F8;   
}
.bold-title {
    color: #202124;	
    font-family: Montserrat;	
    font-size: 30px;	
    font-weight: 500;	
    line-height: 30px;	
    text-align: center;
}
.blue-header {
    background: #0079A6;
    display: block;
    padding: 40px 20px;
}
.blue-header img {
    height: 98px;
    width: auto;
    display: block;
    margin: auto;
}
.text-box .description, 
.circle-box .description {
    display: block;
    color: #4A4A4A;	
    font-family: Montserrat;	
    font-size: 14px;	
    line-height: 22px;	
    text-align: center;
}

.button-box .green-button {
    background-color: #87B93F;
    border-radius: 30px;
    max-width: 151px;
    min-height: 49px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
    display: block;
    margin: auto;
}
.button-box .green-button:hover {
    text-decoration: none;
}

/*
Custom content bs-carousel with hero headers
Code snippet maridlcrmn for Bootsnipp.com modified by daniel
*/
.custom-carousel {
    position: relative;
    height: 600px;
}
.custom-carousel .carousel-inner .item {
    height: 600px;
}
.custom-carousel .carousel-indicators {
    bottom: 40px;
}
.custom-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #000;
    border-color: #000;
    opacity: .7;
}
.custom-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.custom-carousel .hero {
    position: absolute;
    width: 45%;
    top: 50%;
    right: 0;
    z-index: 3;
    color: #fff;
    transform: translateY(-50%);
    height: auto;
    padding: 0 50px;
}
.custom-carousel .hero h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
}
.custom-carousel .hero p {
    margin-top: 20px;
}
.custom-carousel .btn.btn-lg {
    padding: 10px 40px;
}
.custom-carousel .btn.btn-hero,
.custom-carousel .btn.btn-hero:hover,
.custom-carousel .btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #2F75EC;
    border-color: #2F75EC;
    outline: none;
    border-radius: 30px;
    margin: 20px auto;
    padding-left: 60px;
    padding-right: 60px;
}
.custom-carousel .slides .slide {
  height: 600px; /* This should match the heigh of the images as background */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Responsive styles */

/* Tablet */
@media only screen and (max-width : 768px) {
    
}
/* Phone */
@media only screen and (max-width : 480px) {
    .navbar.navbar-default .navbar-header {
        height: 91px;
    }

    .navbar-default .navbar-toggle {
        background-color: #fff;
        border-color: #fff;
        float: none;
        position: absolute;
        right: 0;
        top: 15px;
    }

    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0079A6;
    }

    .navbar-toggle .icon-bar {
        width: 28px;
        height: 3px;
    }

    .custom-height-navbar {
        min-height: 45px;
    }

    .navbar-right-custom {
        display: none;
    }

    .custom-height-navbar .nav {
        float: none;
        display: block;
        text-align: center;
        margin: 0;
    }

    .box {
        margin-bottom: 30px;
    }

    .video-container {
        min-height: auto;
        padding-bottom: 90px;
    }

    .footer-image {
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -750px;
    }

    .footer-main .logo-container {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-main .logo-container p {
        font-weight: normal;
        font-size: 20px;
        margin-top: 30px;
    }

    .footer-main .logo-container .list-social {
        margin: 15px 0;
        display: table;
        width: 100%;
    }

    .footer-main .logo-container .list-social > li {
        display: table-cell;
    }

    .footer-main .logo-container .list-social > li > a > img {
        width: 50px;
    }

    .footer-title {
        font-size: 12px;
    }

    .footer-wrapper {
        position: relative;
        left: initial;
        bottom: initial;
        transform: none;
        padding: 30px 0 0;
    }

    .footer-aux {
        text-align: center;
    }

    .footer-aux .list-inline {
        text-align: center;
        margin-top: 20px;
    }

    .footer-aux .list-inline li > a {
        font-size: 14px;
    }

    .footer-aux .container {
        padding: 15px;
    }

    .footer-logos .row {
        margin: 0;
    }

    .footer-logos .logo {
        position: relative;
        height: 80px;
    }

    .footer-logos .logo > img {
        margin: 0 auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

    .custom-carousel .hero {
        width: 100%;
        text-align: center;
        top: 77%
    }

    .custom-carousel .hero h1 {
        font-size: 25px;
    }

    .custom-carousel .carousel-indicators {
        bottom: 45px;
    }

    .custom-carousel .carousel-indicators > li {
        margin: 0 4px;
    }

    .custom-carousel .carousel-indicators > li,
    .custom-carousel .carousel-indicators > li.active {
        width: 15px;
        height: 15px;
    }

    .custom-carousel .carousel-indicators > li.active {
        opacity: 1;
    }

    .custom-carousel .slides .slide {
        background-position: right;
    }
}