.informacion-contacto .form-neo .submit {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.informacion-contacto .form-neo .submit button[type="submit"] {
    max-width: 246px;
    font-size: 18px;
    line-height: 22px;
}