.modal-neo .modal-content {
  position: relative;

  border-radius: 20px;
}

.modal-neo .modal-header {
  padding-top: 40px;
  border: none;
}

.modal-neo .modal-header-with-icon {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-neo .modal-header .close,
.modal-neo .modal-header-with-icon .close {
  opacity: 1;
  font-size: 35px;

  position: absolute;
  right: 20px;
  top: 10px;
}

.modal-neo .modal-title {
  text-align: center;
}

.modal-neo .modal-header-with-icon .img-responsive {
  display: inline-block;
}

.modal-neo .modal-header-with-icon .modal-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.modal-neo .modal-body {
  padding: 15px 70px;
}

.modal-neo .modal-footer {
  text-align: center;
}

.modal-neo .modal-footer .btn {
  background-color: #fff;
  border: none;
  font-weight: bold;

  width: 175px;
}

.modal-neo .modal-footer .btn:active,
.modal-neo .modal-footer .btn:focus,
.modal-neo .modal-footer .btn:visited {
  box-shadow: none;
}

@media only screen and (max-width : 480px) {
  .modal-neo .modal-body {
    padding: 15px 30px;
  }
}