
.responsive-nav {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.responsive-nav .btn-container {
    margin-bottom: 0;
}

.responsive-nav .btn-container .btn-default {
    font-size: 17px;
    border: none;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    max-height: 150px;
    line-height: 43px;
    border-radius: 0;
    margin-top: 1px;
    width: 100%;
    white-space: normal;
    overflow: hidden;
}
.responsive-nav .btn-container .btn-default:hover {
    background: #fff;
    color: #333;
    font-weight: bold;
}
.responsive-nav .btn-container .btn-default.active {
    background-color: #2F75EC;
    color: #fff;
    border-radius: 5px;
    border-bottom: none;
}
.header-left-nav {
    background: #fff;
}
.header-left-nav .parent-header {
    background: #a6ce39;
    text-align: left;
    padding: 10px 30px 10px 30px;
}
.header-left-nav .parent-header .title-header-menu {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    font-family: Helvetica;
    white-space: normal;
    max-height: 120px;
    overflow: hidden;
}
.header-left-nav .responsive-nav {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
}
.header-left-nav .responsive-nav .btn-container .btn-default {
    border-radius: 5px;
    font-size: 14px;
}
@media only screen and (max-width: 770px) {
    .header-left-nav {
        margin-bottom: 10px;
    }
}
