.news {
  background-color: #E6E7E8;
}

.news .news-heading {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.news .news-heading h2 {
  color: #fff;
  text-align: center;
  line-height: 160px;
}

.news .news-navigation {
  width: 100%;
}

.news .news-navigation .btn {
  font-size: 17px;
  border: none;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
  border-radius: 0;
  margin-top: 1px;
}

.news .news-navigation .btn:last-child {
  border-bottom: none;
}

.news .news-navigation .btn:hover,
.news .news-navigation .btn:active,
.news .news-navigation .btn:focus,
.news .news-navigation .btn:visited {
  border-radius: 0;
  background-color: #fff;
  border: none;
}

.news .news-navigation .btn.active {
  background-color: #2F75EC;
  color: #fff;
  border-radius: 5px;
  border-bottom: none;
}

.news .news-content {
  border-radius: 20px;
  background-color: #fff;
}

.news .news-content .news-content-heading {
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

.news .news-content .news-content-heading > img {
  display: inline-block;
  margin-right: 15px;
}

.news .news-content .news-content-heading > h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.news .news-content .news-item {
  padding: 0 30px;
}

.news .news-content .news-item .news-item-image {
  padding: 30px 0 0;
}

.news .news-content .news-item .news-item-content {
  padding: 30px;
}

.news .news-content .news-item .news-item-content h2 {
  margin-top: 0;
}

.news .news-content .news-item .news-item-content p {
  color: #414042;
  font-size: 15px;
}

.news .news-content .news-item .news-item-content .news-item-share {
  margin-top: 45px;
}

.news .news-content .news-item .news-item-content .news-item-share .social-link:first-child img {
  margin-left: 10px;
}

.news .news-content .news-item .news-item-content .news-item-share .social-link img {
  max-width: 25px;
  margin: 0 5px;
}

/* Phone */
@media only screen and (max-width : 480px) {
  .news .news-content {
    margin: 30px 0;
  }
  
  .news .news-content .news-item .news-item-image .img-featured {
    margin: 0 auto;
  }

  .news .news-content .news-item .news-item-content h2 {
    text-align: center;
  }

  .news .news-content .news-item .news-item-content {
    padding: 30px 0;
  }
}