.occupational-profile {
  background-color: #E6E7E8;
}

.occupational-profile .occupational-profile-heading {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.occupational-profile .occupational-profile-heading h2 {
  color: #fff;
  text-align: center;
  line-height: 160px;
}

.occupational-profile .occupational-profile-navigation {
  width: 100%;
}

.occupational-profile .occupational-profile-navigation .btn {
  font-size: 17px;
  border: none;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  max-height: 85px;
  line-height: 43px;
  border-radius: 0;
  margin-top: 1px;
  width: 100%;
  white-space: normal;
}

.occupational-profile .occupational-profile-navigation .btn:last-child {
  border-bottom: none;
}

.occupational-profile .occupational-profile-navigation .btn:hover,
.occupational-profile .occupational-profile-navigation .btn:active,
.occupational-profile .occupational-profile-navigation .btn:focus,
.occupational-profile .occupational-profile-navigation .btn:visited {
  border-radius: 0;
  background-color: #fff;
  border: none;
}

.occupational-profile .occupational-profile-navigation .btn.active {
  background-color: #2F75EC;
  color: #fff;
  border-radius: 5px;
  border-bottom: none;
}

.occupational-profile .occupational-profile-content {
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.occupational-profile .occupational-profile-content h3 {
  margin-top: 0;
}

.box {
  margin-bottom: 30px;
}

.box .heading {
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box .heading h4 {
  margin: 0;
}

.box.box-blue .heading {
  background-color: #2F75EC;
}

.box.box-green .heading {
  background-color: #87B93F;
}

.box .content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  padding: 15px 20px;
  height: 265px;
  overflow: auto;
}

.box .content.content-narrow {
  height: 210px;
}

.box .content ul {
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 15px;
}

.box .content .list-two-column {
  /* For modern browsers only, IE needs JavaScript to accomplish this */
          columns: 2;
  -webkit-columns: 2;
     -moz-columns: 2;
}

.box .content ul:last-child {
  margin-bottom: 0;
}

/* Phone */
@media only screen and (max-width : 480px) {
  .occupational-profile .occupational-profile-content {
    margin: 30px 0;
  }

  .box .content,
  .box .content.content-narrow {
    height: auto;
  }
}