.ofertas-laborales {
    background-color: #E6E7E8;
}
.ofertas-laborales .ofertas-heading {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.ofertas-laborales .ofertas-heading h2 {
    color: #fff;
    text-align: center;
    line-height: 160px;
}