.preparate {
    background-color: #E6E7E8;
}

.preparate .preparate-profile-heading {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.preparate .preparate-profile-heading h2 {
    color: #fff;
    text-align: center;
    line-height: 160px;
}

.preparate .preparate-navigation {
  width: 100%;
}
.preparate .preparate-navigation .btn {
  font-size: 17px;
  border: none;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  max-height: 150px;
  line-height: 43px;
  border-radius: 0;
  margin-top: 1px;
  width: 100%;
  white-space: normal;
  overflow: hidden
}
  
  .preparate .preparate-navigation .btn:last-child {
    border-bottom: none;
  }
  
  .preparate .preparate-navigation .btn:hover,
  .preparate .preparate-navigation .btn:active,
  .preparate .preparate-navigation .btn:focus,
  .preparate .preparate-navigation .btn:visited {
    border-radius: 0;
    background-color: #fff;
    border: none;
  }


.preparate .preparate-navigation .btn.active {
    background-color: #2F75EC;
    color: #fff;
    border-radius: 5px;
    border-bottom: none;
  }
  
  .preparate .preparate-content {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 3px;
    width: 99%;
    display: inline-block;
  }
  .preparate .video-container-thumb {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 3px;
    width: 99%;
    display: inline-block;
  }
  .preparate .video-container-thumb .video-box-holder {
      width: 100%
  }
  .preparate .video-container-thumb .video-box-holder img {
    width: 100%
}

  .preparate .video-container-thumb .thumbnail-holder-list {
      max-height: 305px;
      overflow: auto;
  }
  .preparate .video-container-thumb .thumbnail-holder-list .thumb-container {
      margin-bottom: 10px;
  }
  
  .preparate .preparate-content h3 {
    margin-top: 0;
    color: #414042;
    font-family: Helvetica;
    font-size: 24px;
    line-height: 36px;
    display: inline-block;
  }
  .preparate .preparate-content .play-icon-title {
    display: inline-block;
    margin-right: 10px;
    width: 45px;
    height: auto;
  }
  
  .box {
    margin-bottom: 30px;
  }
  
  .box .heading {
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .box .heading h4 {
    margin: 0;
  }
  
  .box.box-blue .heading {
    background-color: #2F75EC;
  }
  
  .box.box-green .heading {
    background-color: #87B93F;
  }
  
  .box .content {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    padding: 15px 20px;
    height: 265px;
    overflow: auto;
  }
  
  .box .content.content-narrow {
    height: 210px;
  }
  
  .box .content ul {
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 15px;
  }
  
  .box .content .list-two-column {
    /* For modern browsers only, IE needs JavaScript to accomplish this */
            columns: 2;
    -webkit-columns: 2;
       -moz-columns: 2;
  }
  
  .box .content ul:last-child {
    margin-bottom: 0;
  }
  
  /* Phone */
  @media only screen and (max-width : 480px) {
    .preparate .preparate-content {
      margin: 30px 0;
    }
  
    .box .content,
    .box .content.content-narrow {
      height: auto;
    }
  }