.profile {
  background-color: #E6E7E8;

  padding-top: 40px;
  padding-bottom: 20px;
}

.profile .profile-info {
  border-radius: 20px;
  background: linear-gradient(to bottom right, #FD5972, #FF934F);
  
  color: #fff;
  text-align: center;

  padding: 40px;
}

.profile .profile-info.profile-with-details {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.profile .profile-info > img {
  margin: 0 auto;
}

.profile .profile-info figcaption {
  margin-top: 20px;
}

.profile .profile-info figcaption h5 {
  margin-bottom: 0;
}

.profile-navigation {
  background: #fff;

  padding: 30px 20px;
  
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.profile-navigation .btn-container {
  margin-bottom: 20px;
}
.profile-navigation .btn-container:last-child {
  margin-bottom: 0;
}

.profile-navigation .btn-white {
  display: block;
  width: 100%;
  font-weight: bold;
  white-space: normal;
}

.profile-navigation .btn-white:last-child {
  margin-bottom: 0;
}

.profile-navigation .btn-white > i {
  font-size: 10px;
}

.profile .profile-wrapper {
  border-radius: 20px;
  background-color: #fff;
}

.profile .profile-no-border-top {
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.profile .profile-content {
  padding: 30px;
  border-top: 1px solid #ddd;
}

.profile .profile-content:first-child {
  border-top: none;
}

.profile .profile-content .form-neo button[type="submit"] {
  width: 100%;
  height: 45px;
}

.profile .profile-content .export {
  text-align: center;
}

.profile .profile-content .export .btn-green {
  height: 45px;
  width: 210px;
}

.profile-link {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.profile-link > a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 26px;
}

.profile-link > a:hover,
.profile-link > a:visited,
.profile-link > a:focus,
.profile-link > a:active {
  color: #fff;
  text-decoration: none;
}

.profile-content-main {
  background-color: #fff;
  padding: 30px;

  border-radius: 20px;
}

.profile-heading > img {
  display: inline-block;
}

.profile-heading > h3 {
  display: inline-block;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;

  vertical-align: middle;
}

.profile .profile-content-main .profile-content {
  padding: 0;
  padding-top: 20px;
  margin-top: 20px;
}

.profile .profile-actions button {
  margin-top: 10px;
  width: 150px;
}

.profile .profile-actions .btn-green {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width : 480px) {
  .profile .profile-wrapper,
  .profile .profile-no-border-top {
    margin-top: 30px;
  }

  .profile-links {
    margin-top: 20px;
  }

  .profile-content-main {
    margin-top: 20px;
  }

  .profile .profile-actions button {
    margin-top: 15px;
    width: 100%;
    display: block;
  }
  
  .profile .profile-actions .btn-green {
    margin-left: 0;
    margin-right: 0;
  }
}