.tab-neo .nav-tabs {
  display: table;
  width: 100%;

  border: none;
}

.tab-neo .nav-tabs > li {
  float: none;
  display: table-cell;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

.tab-neo .nav-tabs > li > a {
  color: #414042;
  border-radius: 0;
  border: none;
  margin: 0;
  font-size: 16px;
}

.tab-neo .nav-tabs > li > a:hover {
  background-color: #f7f7f7;
}

.tab-neo .nav-tabs > li.active > a, 
.tab-neo .nav-tabs > li.active > a:focus,
.tab-neo .nav-tabs > li.active > a:hover {
  background-color: #2F75EC;
  color: #fff;
  border: none;
}

.tab-neo .tab-content {
  padding: 30px;
}

@media only screen and (max-width: 480px) {
  .tab-neo .nav-tabs > li {
    display: block;
  }
}