.table-neo {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}

.table-neo.table-centered {
  text-align: center;
}

.table-neo thead tr th {
  background-color: #a6ce39;
  color: #fff;
  font-weight: normal;
}

.table-neo tr th,
.table-neo tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}

.table-neo tr th:first-child,
.table-neo tr td:first-child {
  border-left: 1px solid #bbb;
}

.table-neo tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
}

.table-neo.table-centered tr th {
  text-align: center;
}

/* top-left border-radius */
.table-neo tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
.table-neo tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.table-neo tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.table-neo tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}